<!--header start -->

  
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


<header class="site-navbar py-4" role="banner">
  
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="index.html">
            <img src="assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="" class="nav-link">Home</a></li>
              <li><a routerLink="home" class="nav-link">home</a></li>
              <li><a href="players.html" class="nav-link">Players</a></li>
              <li><a routerLink="login" class="nav-link">Login</a></li>
              <li><a routerLink="signup" class="nav-link">signup</a></li>
            </ul>
          </nav>

          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>
<!--header end -->