<p>stat works!</p>
<div class="site-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="widget-next-match">
            <div class="widget-title">
              <h3>Next Match</h3>
            </div>
            <div class="widget-body mb-3">
              <div class="widget-vs">
                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                  <div class="team-1 text-center">
                    <img src="assets/images/logo_1.png" alt="Image">
                    <h3>Football League</h3>
                  </div>
                  <div>
                    <span class="vs"><span>VS</span></span>
                  </div>
                  <div class="team-2 text-center">
                    <img src="assets/images/logo_2.png" alt="Image">
                    <h3>Soccer</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center widget-vs-contents mb-4">
              <h4>World Cup League</h4>
              <p class="mb-5">
                <span class="d-block">December 20th, 2020</span>
                <span class="d-block">9:30 AM GMT+0</span>
                <strong class="text-primary">New Euro Arena</strong>
              </p>

              <div id="date-countdown2" class="pb-1"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          
          <div class="widget-next-match">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>P</th>
                  <th>Team</th>
                  <th>W</th>
                  <th>D</th>
                  <th>L</th>
                  <th>PTS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><strong class="text-white">Football League</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><strong class="text-white">Soccer</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><strong class="text-white">Juvendo</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><strong class="text-white">French Football League</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><strong class="text-white">Legia Abante</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><strong class="text-white">Gliwice League</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><strong class="text-white">Cornika</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><strong class="text-white">Gravity Smash</strong></td>
                  <td>22</td>
                  <td>3</td>
                  <td>2</td>
                  <td>140</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- .site-section -->
