<div class="post-entry">
    <a href="#">
      <img src={{infoInput.img}} alt="Image" class="img-fluid">
    </a>
    <div class="caption">
      <div class="caption-inner">
        <h3 class="mb-3">{{infoInput.title}}</h3>
        <div class="author d-flex align-items-center">
          <div class="img mb-2 mr-3">
            <img src="assets/images/person_1.jpg" alt="">
          </div>
          <div class="text">
            <h4>{{infoInput.name}}</h4>
            <span>{{infoInput.date}}</span>
          </div>
        </div>
      </div>
    </div> 
  </div>